APP_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/go_boilerplate?sslmode=disable
APP_PORT=3098
JWT_ACCESS_SECRET=SUPER_SECRET_KEY
JWT_REFRESH_SECRET=

LOCAL_DEV_DB=postgres://postgres:postgres@localhost:5432/go_boilerplate_dev?sslmode=disable
LOCAL_DB=postgres://postgres:postgres@localhost:5432/go_boilerplate?sslmode=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=redis123
REDIS_TLS=false

STORAGE_ENDPOINT=localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET=uploads
STORAGE_USE_SSL=false
STORAGE_PUBLIC_URL=http://localhost:9000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your@email.com
MAIL_PASSWORD=your-app-password
MAIL_FROM_EMAIL=your@email.com
MAIL_FROM_NAME=Go Boilerplate
MAIL_RESET_PASSWORD_URL=http://localhost:3000/reset-password
